body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('https://static.wixstatic.com/media/11062b_0bb176c63fe24ad0b8cf36eb45187620~mv2.jpg/v1/fill/w_2391,h_1594,al_c,q_90/11062b_0bb176c63fe24ad0b8cf36eb45187620~mv2.webp'); /* Reemplaza con la URL de tu imagen */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #ffffff; /* Texto blanco */
    backdrop-filter: blur(5px); /* Desenfoque gaussiano */
}
.container {
    width: 90%;
    max-width: 900px;
}
.list-container {
    padding: 2rem;
    border-radius: 12px;
    background-color: rgba(30, 30, 30, 0.8); /* Fondo de la tarjeta oscuro con opacidad ajustada */
    box-shadow: 0 0px 20px rgba(10, 0, 0, 0.8);
    margin-bottom: 1rem;
    overflow-y: auto;
    height: 60vh; /* Ajuste la altura para hacer espacio para la tarjeta de botones */
    border: 2px solid #495057; /* Borde en naranja neón */
    position: relative;
}
.title {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title i {
    margin-right: 0.5rem;
    font-size: 1.8rem; /* Tamaño del ícono */
}
.list-group-item {
    background-color: #343a40; /* Fondo de los ítems de la lista */
    color: #ffffff; /* Texto de los ítems de la lista */
    border: 1px solid #495057; /* Bordes de los ítems de la lista */
    border-radius: 8px;
    margin-bottom: 0.5rem;
    padding: 1rem;
    font-size: 1.2rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: relative;
    overflow: hidden;
}
.list-group-item:hover {
    background-color: #495057; /* Color de los ítems de la lista al hacer hover */
    transform: translateY(-2px); /* Efecto de elevación al hacer hover */
}
.list-group-item .vote-button {
    background-color: #ff6f00; /* Fondo naranja neón */
    border: 2px solid #ff6f00; /* Borde naranja neón */
    color: #ffffff; /* Texto blanco */
    /* padding: 0.5rem 1rem; */
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    position: absolute;
    right: 1rem;
    bottom: 0.7rem;
}
.list-group-item .vote-button:hover {
    background-color: #e65c00; /* Naranja neón más oscuro */
    border-color: #e65c00; /* Borde en naranja neón más oscuro */
}
.list-group-item .vote-button.hidden {
    opacity: 0;
    transform: scale(0);
}
.list-group-item .vote-message {
    display: none;
    background-color: #28a745; /* Verde para el mensaje de éxito */
    color: #ffffff; /* Texto blanco */
    padding: 0.5rem;
    border-radius: 8px;
    margin-top: 0.5rem;
    font-size: 1rem;
}
.list-group-item .vote-message.show {
    display: block;
    animation: fadeIn 0.5s ease;
}
.list-group-item .check-icon {
    display: none;
    color: #28a745; /* Verde para el icono de tilde */
    font-size: 1.5rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.list-group-item.checked .vote-button {
    display: none;
}
.list-group-item.checked .check-icon {
    display: inline;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.button-card {
    background-color: rgba(30, 30, 30, 0.8); /* Fondo de la tarjeta de botones oscuro con opacidad ajustada */
    border: 2px solid #495057; /* Borde en naranja neón */
    border-radius: 12px;
    padding: 1rem;
    box-shadow: 0 0px 20px rgba(10, 0, 0, 0.8);
}
.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
}
.btn-custom {
    background-color: #ff6f00; /* Naranja neón */
    border-color: #ff6f00; /* Borde en naranja neón */
    color: #ffffff; /* Texto blanco */
    border-radius: 8px;
    padding: 0.75rem 1.5rem; /* Aumentar el padding para botones más grandes */
    font-size: 1.2rem;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    cursor: pointer;
    width: 100%; /* Ajusta el botón al ancho completo del contenedor */
    margin-bottom: 0.5rem; /* Espacio entre botones */
}
.btn-custom:hover {
    background-color: #e65c00; /* Naranja neón más oscuro */
    border-color: #e65c00; /* Borde en naranja neón más oscuro */
}
.vote-message {
    background-color: #28a745; /* Verde para el mensaje de éxito */
    color: #ffffff; /* Texto blanco */
    padding: 0.5rem;
    border-radius: 8px;
    margin-top: 0.5rem;
    font-size: 1rem;
    opacity: 0; /* Comienza invisible */
    transform: translateY(-10px); /* Comienza desplazado */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transición suave */
    pointer-events: none; /* Evita la interacción mientras está oculto */
}
.vote-message.show {
    opacity: 1; /* Aparece visible */
    transform: translateY(0); /* Se desplaza a su lugar */
}
.vote-message.hide {
    opacity: 0; /* Se desvanece */
    transform: translateY(-10px); /* Se desplaza hacia arriba */
}        
/* Estilos para la scrollbar */
.list-container {
    scrollbar-width: thin;
    scrollbar-color: #ff6f00 #343a40; /* Color del thumb y del track */
}
.list-container::-webkit-scrollbar {
    width: 10px; /* Ancho de la scrollbar */
}
.list-container::-webkit-scrollbar-thumb {
    background-color: #ff6f00; /* Color del thumb */
    border-radius: 10px; /* Bordes redondeados del thumb */
}
.list-container::-webkit-scrollbar-track {
    background-color: #343a40; /* Color del track */
    border-radius: 10px; /* Bordes redondeados del track */
}
.check-icon {
    display: none;
    color: #28a745;
    font-size: 1.5rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    opacity: 0;
    transform: scale(0.5);
}        
.check-icon.show {
    display: inline;
    opacity: 1; /* Aparece visible */
    transform: scale(1); /* Se expande a su tamaño completo */
}
